@media only screen and (max-width: 768px) {
    body {
      background-color: lightblue;
    }
}

/* background color */
body {
    background-color: #ffdfd9;
}
header {
    text-align: center;
}

.navi {
    background-color: rgb(255, 255, 255);
    max-width: 20%;
    max-height: 30px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px 10px 10px 10px;
}

/* doggo gallery */
.photos {
    display: grid;
    justify-items: center;
    justify-content: space-around;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px;
    align-items: center;
}
* {
    font-family: 'Josefin Sans', sans-serif;
}

.shib {
    justify-self: center;
    background-color:white;

}

p.cap {
    text-transform: lowercase;
    padding: 1px 1px 1px 1px;
    text-align: center;
}

.shib + h6 {
    margin: auto;
    font-style:oblique;
}


#newjournal {
    text-align: center;
}

a::after {
    content: "♡";
}

[href] {
    color: red;
}

.shib:hover{
    background-color:pink;
}

nav {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}
a:active {
    color: pink;
}

h1 {
    background-color:white;
    color: hsl(359, 100%, 78%);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 0.5in 1in 0.5in 1in;
    position: static;
}

h1 + h5 {
    text-align:center;
    text-decoration:underline;
    margin-bottom: 5px;
}

h2 {
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
    background-color: antiquewhite;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
}

h4 {
    font-size: 2ch;
}

.form {
    background-color: antiquewhite;
    margin: auto;
    display: block;
    max-width: 1000px;
    max-height: 1000px;
}
.journals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.journals .jj {
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    width: 40%;
    height: 100%;
    padding: 5px 15px 10px 10px;
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 50px;
    margin-right: 25px;
}
img, video, audio {

    padding: 1pt 1pt 1pt 1pt;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    border-style: double;
    border-color: pink;
    border-width: 3px;
    border-radius: 3px;

}

ol > li {
    font-style: italic;
}

img ~ video {
    margin: auto;
    background-color:pink;
}

button:hover {
    background-color: pink;
}
